# Core functionality - changes here should be rare!
/src/app.py                   @Monikraj
/src/backend/database.py      @Monikraj
/src/backend/routers/auth.py  @Monikraj

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Monikraj
